
.dropdown {
    color: #00ffdd; /* Neutral color for text */
    border-radius:5px;
}
body { background: linear-gradient(to right, #161d33, #242e4b); /* Gradient background */
}
.sidebar {
    background-color: #268d62; /* Light background color */
    padding: 10px; /* Padding */
    border-right: 0px solid #dee2e6; /* Border on the right */
    color: #768db7; /* Dark text color for readability */
    height: 175px; /* Adjust the height as desired */
    border-radius: 5px;
}
.content {
    padding: 0;
    margin: 100;
}

.dropdown {
    color: #091723; /* Neutral color for text */
    font-family: 'Helvetica', sans-serif; /* Modern sans-serif font */
    border: none; /* Remove the default border */
    background-color: #3d55aa; /* Dark background color */
    padding: 10px; /* Add some padding */
    box-shadow: 0 3px 7px rgb(17 204 234 / 48%); /* Add a subtle shadow */
    appearance: none; /* Remove the default arrow */
    -webkit-appearance: none; /* Remove the default arrow (for Safari) */
    -moz-appearance: none; /* Remove the default arrow (for Firefox) */
    background-image: url('arrow.png'); /* Add a custom arrow */
    background-repeat: no-repeat; /* Don't repeat the arrow image */
    background-position: right center; /* Position the arrow on the right */
}
.small-bar-graph-container {
    width: 75%; /* or any specific width */
    height: 225px; /* or any specific height */
    margin: auto; /* Center the graph container if desired */
    color:aqua;
}
.bar-graph {
    color: #fff700;
}
/* In your assets/style.css file */
.centered-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%; /* Full width if you want to center the graph's div */
    height: 250px; /* Adjust the height as desired */
}
#desc-window {
    color: #c1c1c1; /* or any color that makes the text readable */
}
#score-dis {
    color: #FFFFFF; /* or any color that makes the text readable */
}
/* Hide the marks' labels for a slider with the class 'time-slider' */
#time-slider .rc-slider-mark-text {
    display: none !important;
}

/* Optional: Adjust the bottom margin of the slider track to reduce space */
#time-slider .rc-slider-rail,
#time-slider .rc-slider-track {
    margin-bottom: -10px !important; /* Adjust as needed */
}
.btnImg{
    border-radius: 25px; /* Rounded corners */
}
/* Style for when the button is clicked and held */
.btnImg:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}